@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth font-mono;
  }
}

@layer components {
  .cursor {
    animation: cursor 0.4s step-end infinite alternate;
  }

  @keyframes cursor {
    50% {
      border-color: transparent;
    }
  }
}
